// app/assets/stylesheets/application.scss
@import "bootstrap/scss/bootstrap";

.navbar {
  background: rgba(0,0,0,0.1);
  margin-bottom: 40px;
}

button {
  background: #2ec1ac;
  border: 0px;
  padding: 10px 20px;
  margin-left: 14px;
  border-radius: 4px;
  color: white;
}

button:hover {
  background: #27a390
}

.btn-new-article {
  background: #2ec1ac;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  margin-bottom: 0px;
}

.btn-new-article:hover {
  text-decoration: none;
  background: #27a390;
  color: white;
}

.title:hover {
  text-decoration: none;
}

.wrapper-article {
  margin: 0px auto;
  width: 700px;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.edit {
  width: 75%;
  margin: 0px auto;
}

.article {
  padding-top: 0px;
  width: 200px;
  border-radius: 4px;
}

.article {
} img {
  width: 100%;
  margin-bottom: 10px;
}

.title-article {
  font-size: 20px;
}
