// app/assets/stylesheets/application.scss
@import "bootstrap/scss/bootstrap";

.container {
  text-align: center;
  margin: 0 auto;
  width: 700px;
}

.navbar {
  background: rgba(0,0,0,0.1);
  margin-bottom: 40px;
}

#btn-new-article {
  background: white;
  padding: 10px 20px;
  border-radius: 4px;
  margin-bottom: 0;
}

.title {
  color: black;
}

.wrapper-article {
  margin: 0px auto;
  width: 700px;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.edit {
  width: 75%;
  margin: 0px auto;
}

.article {
  border-radius: 10px;
}
